<!doctype HTML>
<html>
    <body>
        <h3>QUESTIONS</h3>
        <p>Answer this: {{ran}}</p>
        <form action="{% url 'check' %}"  method='post'>
            {% csrf_token %}
            <input type="text" id="ans" name="ans">
            <input type="submit" value="enter">
        </form>
    </body>
    
    </html>