<!doctype HTML>
<html>
    <body>
        <p>Your Answer is :{{u}}</p>
        <p>result: {{out}} </p>
        <p>question: {{val}}</p>  
        <p>{{l}}</p>
    <a href="{% url 'quiz' %}">play game </a>
    </body>
</html>
