<!DOCTYPE html>
<html>
    <body>
        <h1>Employee Intake Form</h1>
        <form method="POST" action="{% url 'add_emp' %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="emp_id">Employee_ID</label>
            <input type="text" id="emp_id" name="emp_id">
            <label for="salary">Salary For Employee(CTC)</label>
            <input type="text" id="salary" name="salary">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>