<!DOCTYPE html>
<html>
    <body>
        <h1>Employee Details</h1>
        {% if editing %}
        <form method="post" action="{% url 'update_emp' emp.id %}">
            {% csrf_token %}
            <p>
                <label for="salary">Salary:</label>
                <input type="text" id="salary" name="salary" value="{{emp.salary}}">
            </p>
            <p>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{emp.name}}">
            </p>
            <p>
                <label for="emp_id">Emp_ID:</label>
                <input type="text" id="emp_id" name="emp_id" value="{{emp_id}}">
            </p>
            <p>
                <input type="submit" value="EDIT">
            </p>
        </form>
        {% else %}
        <p> Default id:{{emp.id}}</p>
        <p>Salary: {{emp.salary}}</p>
        <p>Name: {{emp.name}}</p>
        <p>Emp_ID: {{emp.emp_id}} </p>
        {% for i in attendance %}
        {{i.name}}
        {%endfor%}

        <p><a href="">EDIT</a></p>
        <p><a href="">DELETE(cannot be undone)</a></p>
        {% endif %}
        <p><a href="{% url 'emp_list' %}">All Employees</a></p>
    </body>
</html>