<!DOCTYPE html>
<html>
    <body>
        <h1>Employee List</h1>
        <ul>
        {% for i in emps %}
            <li><a href="{% url 'emp_detail' i.id %}">{{i}}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'add_emp' %}">ADD Employee</a>
    </body>
</html>